[submodule "cpp/third_party/pybind11"]
	path = cpp/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "cpp/third_party/Eigen"]
	path = cpp/third_party/Eigen
	url = https://gitlab.com/libeigen/eigen.git
